{% extends "base.html" %}
{% block content %}
        <h1>Build A Blog</h1>
        <form method='post'>
            <label>
                New Post:
                <input type='text' name='post'/>
            </label>
            <input type='submit' value='Add Post' />
        </form>

        <hr />

        {% if tasks|length == 0 %}
        <p>No posts yet</p>
        {% endif %}

            <ul>
                {% for post in posts %}
                <li>{{post}}</li>
                {% endfor %}
            </ul>
{% endblock %}        